<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <title>Hola</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Hola <span sec:authentication="name">thymeleaf</span>.</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"> 
        </form>
    </body>
</html>

